In [12]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
from matplotlib import gridspec
sb.set()

In [13]:
#Importing Raw Data from csv file
df = pd.read_csv('Datafiniti_Amazon_Consumer_Reviews_of_Amazon_Products.csv', engine='python')
df.head()

,ï»¿id,dateAdded,dateUpdated,name,asins,brand,categories,primaryCategories,imageURLs,keys,...,reviews.dateSeen,reviews.doRecommend,reviews.id,reviews.numHelpful,reviews.rating,reviews.sourceURLs,reviews.text,reviews.title,reviews.username,sourceURLs
0,AVqVGZNvQMlgsOJE6eUY,2017-03-03T16:56:05Z,2018-10-25T16:36:31Z,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,Amazon,"Computers,Electronics Features,Tablets,Electro...",Electronics,https://pisces.bbystatic.com/image2/BestBuy_US...,allnewkindleereaderblack6glarefreetouchscreend...,...,"2018-05-27T00:00:00Z,2017-09-18T00:00:00Z,2017...",False,NaN,0,3,http://reviews.bestbuy.com/3545/5442403/review...,I thought it would be as big as small paper bu...,Too small,llyyue,https://www.newegg.com/Product/Product.aspx%25...
1,AVqVGZNvQMlgsOJE6eUY,2017-03-03T16:56:05Z,2018-10-25T16:36:31Z,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,Amazon,"Computers,Electronics Features,Tablets,Electro...",Electronics,https://pisces.bbystatic.com/image2/BestBuy_US...,allnewkindleereaderblack6glarefreetouchscreend...,...,"2018-05-27T00:00:00Z,2017-07-07T00:00:00Z,2017...",True,NaN,0,5,http://reviews.bestbuy.com/3545/5442403/review...,This kindle is light and easy to use especiall...,Great light reader. Easy to use at the beach,Charmi,https://www.newegg.com/Product/Product.aspx%25...
2,AVqVGZNvQMlgsOJE6eUY,2017-03-03T16:56:05Z,2018-10-25T16:36:31Z,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,Amazon,"Computers,Electronics Features,Tablets,Electro...",Electronics,https://pisces.bbystatic.com/image2/BestBuy_US...,allnewkindleereaderblack6glarefreetouchscreend...,...,2018-05-27T00:00:00Z,True,NaN,0,4,https://reviews.bestbuy.com/3545/5442403/revie...,Didnt know how much i'd use a kindle so went f...,Great for the price,johnnyjojojo,https://www.newegg.com/Product/Product.aspx%25...
3,AVqVGZNvQMlgsOJE6eUY,2017-03-03T16:56:05Z,2018-10-25T16:36:31Z,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,Amazon,"Computers,Electronics Features,Tablets,Electro...",Electronics,https://pisces.bbystatic.com/image2/BestBuy_US...,allnewkindleereaderblack6glarefreetouchscreend...,...,2018-10-09T00:00:00Z,True,177283626.0,3,5,https://redsky.target.com/groot-domain-api/v1/...,I am 100 happy with my purchase. I caught it o...,A Great Buy,Kdperry,https://www.newegg.com/Product/Product.aspx%25...
4,AVqVGZNvQMlgsOJE6eUY,2017-03-03T16:56:05Z,2018-10-25T16:36:31Z,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,Amazon,"Computers,Electronics Features,Tablets,Electro...",Electronics,https://pisces.bbystatic.com/image2/BestBuy_US...,allnewkindleereaderblack6glarefreetouchscreend...,...,2018-05-27T00:00:00Z,True,NaN,0,5,https://reviews.bestbuy.com/3545/5442403/revie...,Solid entry level Kindle. Great for kids. Gift...,Solid entry-level Kindle. Great for kids,Johnnyblack,https://www.newegg.com/Product/Product.aspx%25...

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 24 columns):
ï»¿id                  5000 non-null object
dateAdded              5000 non-null object
dateUpdated            5000 non-null object
name                   5000 non-null object
asins                  5000 non-null object
brand                  5000 non-null object
categories             5000 non-null object
primaryCategories      5000 non-null object
imageURLs              5000 non-null object
keys                   5000 non-null object
manufacturer           5000 non-null object
manufacturerNumber     5000 non-null object
reviews.date           5000 non-null object
reviews.dateAdded      1052 non-null object
reviews.dateSeen       5000 non-null object
reviews.doRecommend    5000 non-null bool
reviews.id             29 non-null float64
reviews.numHelpful     5000 non-null int64
reviews.rating         5000 non-null int64
reviews.sourceURLs     5000 non-null object
reviews.text           5000 non-null object
reviews.title          4987 non-null object
reviews.username       5000 non-null object
sourceURLs             5000 non-null object
dtypes: bool(1), float64(1), int64(2), object(20)
memory usage: 903.4+ KB

In [15]:
dataset = df.drop(['dateAdded','dateUpdated','asins','ï»¿id','brand',
         'categories','primaryCategories','imageURLs','keys',
         'manufacturer','manufacturerNumber','reviews.date',
         'reviews.dateAdded','reviews.dateSeen','reviews.doRecommend',
         'reviews.id','reviews.numHelpful','reviews.sourceURLs',
         'reviews.title','reviews.username','sourceURLs','name'], axis = 1)

In [16]:
!pip install tensorflow_datasets
import tensorflow_datasets as tfds
import tensorflow as tf

tfds.disable_progress_bar()

Requirement already satisfied: tensorflow_datasets in c:\users\jeral\anaconda3\lib\site-packages (4.3.0)
Requirement already satisfied: promise in c:\users\jeral\anaconda3\lib\site-packages (from tensorflow_datasets) (2.3)
Requirement already satisfied: protobuf>=3.12.2 in c:\users\jeral\anaconda3\lib\site-packages (from tensorflow_datasets) (3.17.3)
Requirement already satisfied: typing-extensions; python_version < "3.8" in c:\users\jeral\appdata\roaming\python\python37\site-packages (from tensorflow_datasets) (3.7.4.3)
Requirement already satisfied: tensorflow-metadata in c:\users\jeral\anaconda3\lib\site-packages (from tensorflow_datasets) (1.0.0)
Requirement already satisfied: requests>=2.19.0 in c:\users\jeral\anaconda3\lib\site-packages (from tensorflow_datasets) (2.22.0)
Requirement already satisfied: dill in c:\users\jeral\anaconda3\lib\site-packages (from tensorflow_datasets) (0.3.4)
Requirement already satisfied: absl-py in c:\users\jeral\anaconda3\lib\site-packages (from tensorflow_datasets) (0.13.0)
Requirement already satisfied: termcolor in c:\users\jeral\anaconda3\lib\site-packages (from tensorflow_datasets) (1.1.0)
Requirement already satisfied: attrs>=18.1.0 in c:\users\jeral\anaconda3\lib\site-packages (from tensorflow_datasets) (19.2.0)
Requirement already satisfied: numpy in c:\users\jeral\appdata\roaming\python\python37\site-packages (from tensorflow_datasets) (1.19.5)
Requirement already satisfied: future in c:\users\jeral\anaconda3\lib\site-packages (from tensorflow_datasets) (0.17.1)
Requirement already satisfied: importlib-resources; python_version < "3.9" in c:\users\jeral\anaconda3\lib\site-packages (from tensorflow_datasets) (5.1.4)
Requirement already satisfied: six in c:\users\jeral\appdata\roaming\python\python37\site-packages (from tensorflow_datasets) (1.15.0)
Requirement already satisfied: tqdm in c:\users\jeral\anaconda3\lib\site-packages (from tensorflow_datasets) (4.36.1)
Requirement already satisfied: googleapis-common-protos<2,>=1.52.0 in c:\users\jeral\anaconda3\lib\site-packages (from tensorflow-metadata->tensorflow_datasets) (1.53.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\jeral\anaconda3\lib\site-packages (from requests>=2.19.0->tensorflow_datasets) (1.24.2)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\jeral\anaconda3\lib\site-packages (from requests>=2.19.0->tensorflow_datasets) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\jeral\anaconda3\lib\site-packages (from requests>=2.19.0->tensorflow_datasets) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jeral\anaconda3\lib\site-packages (from requests>=2.19.0->tensorflow_datasets) (2019.9.11)
Requirement already satisfied: zipp>=3.1.0; python_version < "3.10" in c:\users\jeral\anaconda3\lib\site-packages (from importlib-resources; python_version < "3.9"->tensorflow_datasets) (3.4.1)

In [17]:
dataset

      reviews.rating                                       reviews.text
0                  3  I thought it would be as big as small paper bu...
1                  5  This kindle is light and easy to use especiall...
2                  4  Didnt know how much i'd use a kindle so went f...
3                  5  I am 100 happy with my purchase. I caught it o...
4                  5  Solid entry level Kindle. Great for kids. Gift...
...              ...                                                ...
4995               5  This is a great tablet for the price. Amazon i...
4996               5  This tablet is the perfect size and so easy to...
4997               4  Purchased this for my son. Has room to upgrade...
4998               5  I had some thoughts about getting this for a 5...
4999               5  this is a steal, have 8 gb model as well.This ...

[5000 rows x 2 columns]

In [18]:
train_size = 3500;
test_size = 750;
val_size = 5000 - train_size - test_size;

In [19]:
train = dataset.sample(n=3500)
train

      reviews.rating                                       reviews.text
1590               4  Bought this as a gift for my daughter and it w...
425                5  If you use the Alexa ecosystem then the show i...
2046               4  My 2 1/2 year old loves this. He can't break i...
3991               5  Great tablet, very clear picture. Would buy ag...
1583               5  This is great product. The tablet are made tou...
...              ...                                                ...
2788               4  Good customer service during my quest to get a...
516                5  It is a great product. It works great would de...
1996               5  I bought this for my daughter as a Christmas p...
1720               5  My son enjoys to play with his tablet but defi...
1994               5  This is a first for an adult. Price is right, ...

[3500 rows x 2 columns]

In [20]:
df_diff = pd.concat([train,dataset]).drop_duplicates(keep=False)
df_diff

      reviews.rating                                       reviews.text
0                  3  I thought it would be as big as small paper bu...
1                  5  This kindle is light and easy to use especiall...
11                 5  Love my kindle, makes reading at night so easy...
15                 3  It does its job but I would buy one which the ...
29                 4  I like this e reader, but wish the screen were...
...              ...                                                ...
4972               4  The features that I found on the Fire tablet f...
4982               5  This device performs great! For the price it's...
4986               5  The apps are better, it charges faster and the...
4993               5  I APPRECIATE the ease of purchasing and readin...
4996               5  This tablet is the perfect size and so easy to...

[1144 rows x 2 columns]

In [21]:
test = df_diff.sample(n=700)
test

      reviews.rating                                       reviews.text
1470               4  Solid Amazon Echo, love they have added Philli...
2476               5  Bought this for my grandson and am very please...
2688               4  Bought these for my grand children for Christm...
3517               5  We love Kindle Fire, we purchase it for an old...
805                5  Love this! We have it on our kitchen counter a...
...              ...                                                ...
3928               5  Was a present for my 14 year old grandson. He ...
2696               4  It works well for me, however, my wife seems t...
4045               4  it would be nice to have full app library, but...
1262               5  received as a Christmas gift. really works wel...
2810               4  It's was on sale on this color,put the play st...

[700 rows x 2 columns]

In [22]:
df_diff2 = pd.concat([test,df_diff]).drop_duplicates(keep=False)
df_diff2

      reviews.rating                                       reviews.text
0                  3  I thought it would be as big as small paper bu...
29                 4  I like this e reader, but wish the screen were...
32                 4  I like the changes that have been made since m...
34                 4  Great buy, do a lot of reading and he no glear...
40                 5  The sales people are really nice and knowledge...
...              ...                                                ...
4881               4  It's great to some extent but I was expecting ...
4936               5  Needed to replace the old Nook. Looked at the ...
4944               5  its a nice tablet for the basic uses i need it...
4949               5  bought it for my son. he likes it. very good a...
4982               5  This device performs great! For the price it's...

[444 rows x 2 columns]

In [23]:
val = df_diff2
val

      reviews.rating                                       reviews.text
0                  3  I thought it would be as big as small paper bu...
29                 4  I like this e reader, but wish the screen were...
32                 4  I like the changes that have been made since m...
34                 4  Great buy, do a lot of reading and he no glear...
40                 5  The sales people are really nice and knowledge...
...              ...                                                ...
4881               4  It's great to some extent but I was expecting ...
4936               5  Needed to replace the old Nook. Looked at the ...
4944               5  its a nice tablet for the basic uses i need it...
4949               5  bought it for my son. he likes it. very good a...
4982               5  This device performs great! For the price it's...

[444 rows x 2 columns]

In [24]:
train,test,val

(      reviews.rating                                       reviews.text
 1590               4  Bought this as a gift for my daughter and it w...
 425                5  If you use the Alexa ecosystem then the show i...
 2046               4  My 2 1/2 year old loves this. He can't break i...
 3991               5  Great tablet, very clear picture. Would buy ag...
 1583               5  This is great product. The tablet are made tou...
 ...              ...                                                ...
 2788               4  Good customer service during my quest to get a...
 516                5  It is a great product. It works great would de...
 1996               5  I bought this for my daughter as a Christmas p...
 1720               5  My son enjoys to play with his tablet but defi...
 1994               5  This is a first for an adult. Price is right, ...

 [3500 rows x 2 columns],
       reviews.rating                                       reviews.text
 1470               4  Solid Amazon Echo, love they have added Philli...
 2476               5  Bought this for my grandson and am very please...
 2688               4  Bought these for my grand children for Christm...
 3517               5  We love Kindle Fire, we purchase it for an old...
 805                5  Love this! We have it on our kitchen counter a...
 ...              ...                                                ...
 3928               5  Was a present for my 14 year old grandson. He ...
 2696               4  It works well for me, however, my wife seems t...
 4045               4  it would be nice to have full app library, but...
 1262               5  received as a Christmas gift. really works wel...
 2810               4  It's was on sale on this color,put the play st...

 [700 rows x 2 columns],
       reviews.rating                                       reviews.text
 0                  3  I thought it would be as big as small paper bu...
 29                 4  I like this e reader, but wish the screen were...
 32                 4  I like the changes that have been made since m...
 34                 4  Great buy, do a lot of reading and he no glear...
 40                 5  The sales people are really nice and knowledge...
 ...              ...                                                ...
 4881               4  It's great to some extent but I was expecting ...
 4936               5  Needed to replace the old Nook. Looked at the ...
 4944               5  its a nice tablet for the basic uses i need it...
 4949               5  bought it for my son. he likes it. very good a...
 4982               5  This device performs great! For the price it's...

 [444 rows x 2 columns])

In [25]:
import nltk
from sklearn.feature_extraction.text import CountVectorizer
from nltk import tokenize
cv = CountVectorizer()

In [26]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\jeral\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [27]:
sentences = tokenize.sent_tokenize("Hi I am Jerald")
sentences

['Hi I am Jerald']

In [28]:
X = cv.fit(sentences)
print(X.vocabulary_)
print("-"*50)
print(X.get_feature_names())

{'hi': 1, 'am': 0, 'jerald': 2}
--------------------------------------------------
['am', 'hi', 'jerald']

In [29]:
X = cv.transform(sentences)
print(X.shape)
print("."*50)
print(X.toarray())
print("."*50)
print(X)
df = pd.DataFrame(X.toarray(),columns = cv.get_feature_names())

(1, 3)
..................................................
[[1 1 1]]
..................................................
  (0, 0)	1
  (0, 1)	1
  (0, 2)	1

In [30]:
!pip install tensorflow_hub
import tensorflow as tf
import tensorflow_hub as hub
embedding = "https://tfhub.dev/google/nnlm-en-dim50/2"
hub_layer = hub.KerasLayer(embedding, input_shape=[], 
                           dtype=tf.string, trainable=True)
model = tf.keras.Sequential()
model.add(hub_layer)
model.add(tf.keras.layers.Dense(16, activation='relu'))
model.add(tf.keras.layers.Dense(1))

model.summary()

Requirement already satisfied: tensorflow_hub in c:\users\jeral\anaconda3\lib\site-packages (0.12.0)
Requirement already satisfied: numpy>=1.12.0 in c:\users\jeral\appdata\roaming\python\python37\site-packages (from tensorflow_hub) (1.19.5)
Requirement already satisfied: protobuf>=3.8.0 in c:\users\jeral\anaconda3\lib\site-packages (from tensorflow_hub) (3.17.3)
Requirement already satisfied: six>=1.9 in c:\users\jeral\appdata\roaming\python\python37\site-packages (from protobuf>=3.8.0->tensorflow_hub) (1.15.0)
Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
keras_layer_1 (KerasLayer)   (None, 50)                48190600
_________________________________________________________________
dense_2 (Dense)              (None, 16)                816
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 17
=================================================================
Total params: 48,191,433
Trainable params: 48,191,433
Non-trainable params: 0
_________________________________________________________________

In [31]:
model.compile(optimizer='adam',
              loss=tf.keras.losses.BinaryCrossentropy(from_logits=True),
              metrics=['accuracy'])

In [34]:
history = model.fit(train.batch(512),
                    epochs=10,
                    validation_data=validation_data.batch(512),
                    verbose=1)

AttributeError: 'DataFrame' object has no attribute 'batch'

In [33]:
train

      reviews.rating                                       reviews.text
1590               4  Bought this as a gift for my daughter and it w...
425                5  If you use the Alexa ecosystem then the show i...
2046               4  My 2 1/2 year old loves this. He can't break i...
3991               5  Great tablet, very clear picture. Would buy ag...
1583               5  This is great product. The tablet are made tou...
...              ...                                                ...
2788               4  Good customer service during my quest to get a...
516                5  It is a great product. It works great would de...
1996               5  I bought this for my daughter as a Christmas p...
1720               5  My son enjoys to play with his tablet but defi...
1994               5  This is a first for an adult. Price is right, ...

[3500 rows x 2 columns]